.selector {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  gap: 16px;
  height: 36px;
  padding: 0 16px;
  background: var(--color-muted-0);
  border: 1px solid var(--color-border);
  border-radius: 8px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  color: var(--color-icon-default);

  &:hover:not(:disabled) {
    color: var(--color-text-strong);
  }

  &:disabled {
    color: var(--color-border);
  }
}

.value {
  min-width: 14px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
  color: var(--color-text-emphasis);
}
